// Global imports
@import 'view-ui-plus/dist/styles/viewuiplus.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

// End Global imports

:root {
  background-color: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255 255 255 / 87%);
  text-rendering: optimizelegibility;
  color-scheme: light dark;
  font-synthesis: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  //display: flex;
  //margin: 0;
  //min-width: 320px;
  //min-height: 100vh;
  //place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

//.card {
//  padding: 2em;
//}

#app {
  //margin: 0 auto;
  //max-width: 1280px;
  //padding: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #fff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
